body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: lightgray;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    min-height: 100vh; /* Ensure it takes at least the full viewport height */
    padding-bottom: 50px; /* Add some bottom padding to avoid content being too close to the footer */
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

.pure-u-2-3 {
	padding-right: 0; /* Reduce or set to zero to shift the element left */
  margin-left: -20px;
  }
  
#vis1 {
    margin: 0;
    padding: 0;
    border: none;
  }
  

.pure-g {
    display: flex;
    justify-content: flex-start; /* Move the content towards the left */
  }
  
  